---
title: "Contact Elkhorn Roofing | Tulsa Roofing Company | Free Estimate"
description: "Contact Elkhorn Roofing in Tulsa, OK to schedule a free roof inspection or estimate. Call our team for roof repairs, roof replacement, siding, and gutter installation."
permalink: "/contact/"
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css">
    <link rel="preload" as="image" href="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 640, height: 600 }) | avif %}"/>
    <link rel="preload" as="image" href="{% getUrl "/assets/images/construction.jpg" | resize({ width: 576, height: 640 }) | avif %}"/>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-310">
        <div class="cs-container">
            <span class="cs-int-title">Contact Us</span>
            <div class="cs-breadcrumbs">
                <a href="/" class="cs-link">Home</a>
                <a href="/contact/" class="cs-link cs-active">Contact Us</a>
            </div>
        </div>
        <!--Background Image-->
        <picture class="cs-background">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/cta.jpg" | resize({ width: 640, height: 600 }) | avif %}" type="image/avif">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/cta.jpg" | resize({ width: 640, height: 600 }) | webp %}" type="image/webp">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/cta.jpg" | resize({ width: 640, height: 600 }) | jpeg %}" type="image/jpeg">
            <!--Tablet Image-->
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/cta.jpg" | resize({ width: 2048, height: 942 }) | avif %}" type="image/avif">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/cta.jpg" | resize({ width: 2048, height: 942 }) | webp %}" type="image/webp">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/cta.jpg" | resize({ width: 2048, height: 942 }) | jpeg %}" type="image/jpeg">
            <!--Desktop Image-->
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/cta.jpg" | resize({ width: 2500, height: 628 }) | avif %}" type="image/avif">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/cta.jpg" | resize({ width: 2500, height: 628 }) | webp %}" type="image/webp">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/cta.jpg" | resize({ width: 2500, height: 628 }) | jpeg %}" type="image/jpeg">
            <img src="{% getUrl "/assets/images/cta.jpg" | resize({ width: 2500, height: 628 }) | jpeg %}" alt="library" width="1920" height="482" loading="eager" decoding="async">
        </picture>
    </div>

                                

<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact-1184">
    <div class="cs-container">
        <picture class="cs-background">
            <source media="(max-width: 600px)" srcset="/assets/images/homepage/hero2.1.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/homepage/hero2.1.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/homepage/hero2.1.jpg" alt="tools" width="637" height="726">
        </picture>

        <div class="cs-content">
            <span class="cs-topper">Contact Us</span>
            <h2 class="cs-title">Make An Appointment</h2>

            <!-- Netlify Form -->
            <form 
                class="cs-form" 
                id="cs-form-1184" 
                name="Contact Form" 
                method="POST" 
                data-netlify="true"
            >

                <!-- Required hidden input -->
                <input type="hidden" name="form-name" value="Contact Form">

                <label class="cs-label">
                    Name
                    <input class="cs-input" required type="text" name="name" placeholder="Name">
                </label>

                <label class="cs-label cs-email">
                    Email
                    <input class="cs-input" required type="email" name="email" placeholder="Email">
                </label>

                <label class="cs-label cs-phone">
                    Phone
                    <input class="cs-input" required type="tel" name="phone" placeholder="Phone">
                </label>

                <label class="cs-label cs-address">
                    Address
                    <input class="cs-input" required type="text" name="address" placeholder="Property Address">
                </label>

                <label class="cs-label">
                    Message
                    <textarea class="cs-input cs-textarea" required name="message" placeholder="Write message..."></textarea>
                </label>

                <button class="cs-button-solid cs-submit" type="submit">
                    Make an Appointment
                </button>

            </form>
        </div>

        <picture class="cs-background">
            <source media="(max-width: 600px)" srcset="/assets/images/homepage/hero1.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/homepage/hero1.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/homepage/hero1.jpg" alt="mechanic" width="637" height="726">
        </picture>
    </div>
</section>

<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<!-- No headers, so no section tag -->
<div id="contact-strip-719">
    <ul class="cs-stat-group">
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fphone-stroke-light.svg" alt="icon" width="35" height="40" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-header">Phone</span>
                <a href="tel:918-471-7790" class="cs-link">+1 (918) 471-7790</a>
            </div>
        </li>
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fmail-stroke-light.svg" alt="icon" width="40" height="35" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-header">Email</span>
                <a href="mailto:Sales@elkhornroofingok.com" class="cs-link">Sales@elkhornroofingok.com</a>
            </div>
        </li>
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fpin-stroke-light.svg" alt="icon" width="40" height="40" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-header">Address</span>
                <span class="cs-address">30515 S County Rd, 4350 Kinta, 
                    OK, 74552</span>
            </div>
        </li>
    </ul>
    <!--SVG Waves Background-->
    <img class="cs-background" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fwaves-3.svg" alt="wave graphic" width="1920" height="318" loading="lazy" decoding="async" aria-hidden="true">
</div>
                                

{% endblock %}