---
title: "Elkhron Roofing | Home Page | Tulsa, OK"
description: "Meta description for the page"
permalink: "/"
tags: "sitemap" # content/content.json will make sure that all pages in content/ are marked with a "sitemap" tag, for automatic sitemap generation. As index.html is not in content/, we need to add it here to ensure the root page is included in the sitemap generation
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- Critical styles are loaded first -->
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- If we're in production, defer the rest of the home page styles. In development, always load it. Otherwise the site will break when hot-reload is used. -->
    {% if client.isProduction %}
        <link rel="preload" href="/assets/css/local.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript>
            <link rel="stylesheet" href="/assets/css/local.css">
        </noscript>

    {% else %}
        <link rel="stylesheet" href="/assets/css/local.css"/>
    {% endif %}

    <!-- To ensure proper validation, prevent errors, and encourage developers to check, schema's are an opt-in feature. They're very bespoke and requires some customising  -->
    <!-- Uncomment the code below to enable Structured Data, and test it when you deploy to Netlify - https://developers.google.com/search/docs/appearance/structured-data -->
    <!-- {% include "components/home-schema.html" %} -->
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-2275">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Built to Withstand Oklahoma Storms</h1>
            <p class="cs-text">
                In our relentless pursuit of progress, we are dedicated to constructing a future where innovation, sustainability, and inclusivity converge seamlessly.
            </p>
            <a href="" class="cs-button-solid">
                Get Started Today
                <img class="cs-button-arrow" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/white-arrow-up.svg" decoding="async" alt="arrow" width="20" height="20" aria-hidden="true">
            </a>
        </div>
    </div>
    <div class="cs-image-group">
        <!--Left Image-->
        <picture class="cs-background cs-background1">
            <source media="(max-width: 600px)" srcset="/assets/images/homepage/hero2.2.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/homepage/hero2.2.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/homepage/hero2.2.jpg" alt="construction site" width="1290" height="684">
        </picture>
        <!--Right Image-->
        <picture class="cs-background cs-background2">
            <source media="(max-width: 600px)" srcset="/assets/images/homepage/hero1.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/homepage/hero1.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/homepage/hero1.jpg" alt="construction site" width="630" height="684">
        </picture>
    </div>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="Hservices-2275">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/construction1.svg" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    <h3 class="cs-h3">Best Roof Renovation </h3>
                    <p class="cs-item-text">
                        Upgrade your roof with strength, style, and reliability!
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/construction2.svg" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    <h3 class="cs-h3">Quality Always Matters </h3>
                    <p class="cs-item-text">
                       Quality renovations provide lasting beauty and functionality.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/construction3.svg" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    <h3 class="cs-h3">Effective Teamwork </h3>
                    <p class="cs-item-text">
                        Collaboration drives success through shared goals and communication.
                    </p>
                </a>
            </li>
            <li class="cs-item cs-item-background">
                <picture class="cs-item-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/homepage/hero1.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/homepage/hero1.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/homepage/hero1.jpg" alt="construction site" width="630" height="684">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/construction4.svg" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    <span class="cs-number">400+</span>
                    <h3 class="cs-h3">Happy Customers</h3>
                    <p class="cs-item-text">
                        With more than 30 years of expertise we served our clients.
                    </p>
                    <span class="cs-fake-link">
                        Let's Work Together
                        <img class="cs-arrow" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/orange-arrow-up.svg" decoding="async" alt="arrow" width="20" height="20" aria-hidden="true">
                    </span>
                    <picture class="cs-background">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction3.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction3.jpg">
                        <img aria-hidden="true" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction3.jpg" alt="construction site" width="630" height="684">
                    </picture>
                </a>
            </li>
        </ul>
    </div>
</section>


<!-- ============================================ -->
<!--                 Side by Side                 -->
<!-- ============================================ -->

<section id="sbs-2316">
    <div class="cs-container">
        <div class="cs-content cs-content1">
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/homepage/about1.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/homepage/about1.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/homepage/about1.jpg" alt="people" width="608" height="406">
            </picture>
            <div class="cs-wrapper cs-wrapper1">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">Built to Protect. Designed to Impress.</h2>
                <p class="cs-text">
                    With over 30 years of combined experience building more than 400 custom homes and roofing systems across Oklahoma, Elkhorn Roofing delivers trusted craftsmanship focused on long-term protection.
                </p>
                <ul class="cs-ul">
                    <li class="cs-li"><strong>Precision Roofing Expertise:</strong> Built with careful attention to detail using durable, storm-ready materials.</li>
                    <li class="cs-li"><strong>Client-First Communication:</strong> Clear explanations, honest recommendations, and full transparency from start to finish.</li>
                    <li class="cs-li"><strong>Impact-Resistant Specialists:</strong> Experts in Class 3 and Class 4 shingles built for Oklahoma hail.</li>
                    <li class="cs-li"><strong>Complete Exterior Protection:</strong> Roofing, gutters, and siding designed to protect and elevate your home.</li>
                </ul>
                <div class="cs-button-box">
                    <a class="cs-link" href="tel:+9184717790">
                        <picture class="cs-icon-wrapper">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/red-phone.svg" alt="icon"
                                width="24" height="24">
                        </picture>
                        <div class="cs-info">
                            <span class="cs-link-content">Need Help?</span>
                            <span class="cs-phone">(918) 471-7790</span>
                        </div>
                    </a>
                 
                </div>
            </div>
        </div>
        <div class="cs-content cs-content2">
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/homepage/about2.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/homepage/about2.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/homepage/about2.jpg" alt="people" width="608" height="406">
            </picture>
            <div class="cs-wrapper cs-wrapper2">
                <p class="cs-text">
                   We build roofing systems that protect what matters most. With decades of hands-on experience in custom home construction and storm restoration.
                </p>
                <a class="cs-button-solid" href="">More About Us</a>
            </div>
        </div>
    </div>
</section>


<!-- ============================================ -->
<!--                    Services                  -->
<!-- ============================================ -->

<section id="services-1253">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-group">
                <span class="cs-topper">Our Services</span>
                <h2 class="cs-title">Roofing & Exterior Services Built to Last</h2>
            </div>
            <p class="cs-text">
                From impact-resistant roof installations to repairs, gutters, and siding, we provide durable solutions designed to protect Oklahoma homes year after year. Every project is completed with careful attention to detail and materials specifically chosen to withstand our region’s severe storms and changing seasons.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Free Roof Inspections</h3>
                    <p class="cs-item-text">
                        Comprehensive, no-obligation roof inspections to assess storm damage, wear, leaks, and overall roof condition.
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/homepage/roofinspection.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/homepage/roofinspection.jpg">
                    <img decoding="async" src="/assets/images/homepage/roofinspection.jpg" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Roof Repairs & Storm Damage Restoration</h3>
                    <p class="cs-item-text">
                        Fast, reliable repairs for leaks, missing shingles, flashing damage, and storm-related issues.
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/homepage/residentialroof.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/homepage/residentialroof.jpg">
                    <img decoding="async" src="/assets/images/homepage/residentialroof.jpg" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">High Class Shingle Installation</h3>
                    <p class="cs-item-text">
                        Professional installation of Class 3 & 4 impact-resistant shingles designed to withstand hail and severe weather.
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/homepage/shingles.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/homepage/shingles.jpg">
                    <img decoding="async" src="/assets/images/homepage/shingles.jpg" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Designer & Architectural Shingles</h3>
                    <p class="cs-item-text">
                        High-end designer and architectural shingles that enhance curb appeal while providing long-lasting durability.
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/homepage/designershingles.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/homepage/designershingles.jpg">
                    <img decoding="async" src="/assets/images/homepage/designershingles.jpg" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Siding Installation</h3>
                    <p class="cs-item-text">
                        We've enhanced homes across Tulsa with beautiful, long-lasting that boots curb appeal and protects against the elements
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/homepage/siding.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/homepage/siding.jpg">
                    <img decoding="async" src="/assets/images/homepage/siding.jpg" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
             <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Gutter Installation</h3>
                    <p class="cs-item-text">
                        Professional gutter systems and siding installation to protect and improve the exterior of your home.
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/homepage/gutters.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/homepage/gutters.jpg">
                    <img decoding="async" src="/assets/images/homepage/gutters.jpg" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                Why Choose Us                 -->
<!-- ============================================ -->

<section id="why-choose-1631">
    <div class="cs-container">
        <div class="cs-flex">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/homepage/hero2.1.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/homepage/hero2.1.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/homepage/hero2.1.jpg" alt="therapy" width="608" height="400">
            </picture>
            <div class="cs-content">
                <span class="cs-topper">Why Choose Us</span>
                <h2 class="cs-title">Straightforward & Strong</h2>
                <p class="cs-text">
                    Experience the difference of working with a trusted local team that puts quality, honesty, and value first. From roofing and siding to designing and more, we’re committed to protecting your home with craftsmanship that lasts and service you can rely on.
                </p>
            </div>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <h3 class="cs-h3">
                    <picture class="cs-wrapper">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/chat-gold.svg" alt="icon" width="24" height="24">
                    </picture>
                    Reliable Contractor Experts
                </h3>
                <p class="cs-item-text">
                    Our experienced roofing team delivers dependable workmanship using proven materials built to withstand Oklahoma weather.
                </p>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">
                    <picture class="cs-wrapper">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/call-gold.svg" alt="icon" width="24" height="24">
                    </picture>
                    Communication Is Key
                </h3>
                <p class="cs-item-text">
                   From inspection to final cleanup, we keep you informed every step of the way so there are no surprises.
                </p>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">
                    <picture class="cs-wrapper">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/money-gold.svg" alt="icon" width="24" height="24">
                    </picture>
                    Satisfaction Guaranteed
                </h3>
                <p class="cs-item-text">
                    We stand behind our work and aren’t finished until you’re completely confident in the results.
                </p>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-1673">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">Our Customer Reviews</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-headshot1.jpeg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true" loading="lazy">
                    </picture>
                    <span class="cs-name">
                        Britney Allison
                        <span class="cs-job">Founder of Yokoloko</span>
                    </span>
                </div>
                <div class="wrapper">
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg" alt="stars" width="96" height="16">
                    <p class="cs-review">
                    Stitch Consulting transformed our business strategy Their expert consultants provided ingenious insights that propelled us towards success. Their dedication and innovative solutions are truly commendable.
                    </p>
                </div>
                <!--Quote Icon-->
                <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gray-quote.svg" decoding="async" alt="quote icon" width="120" height="99" loading="lazy">
            </li>
            <li class="cs-item">
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="https://csimages2.nyc3.digitaloceanspaces.com/Images/People/review2.jpg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true" loading="lazy">
                    </picture>
                    <span class="cs-name">
                        Brooklyn Simmons
                        <span class="cs-job">Founder of Yokoloko</span>
                    </span>
                </div>
                <div class="wrapper">
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg" alt="stars" width="96" height="16">
                    <p class="cs-review">
                    Stitch Consulting transformed our business strategy Their expert consultants provided ingenious insights that propelled us towards success. Their dedication and innovative solutions are truly commendable.
                    </p>
                </div>
                <!--Quote Icon-->
                <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gray-quote.svg" decoding="async" alt="quote icon" width="120" height="99" loading="lazy">
            </li>
            <li class="cs-item">
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-headshot2.jpeg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true" loading="lazy">
                    </picture>
                    <span class="cs-name">
                        Cameron Williamson
                        <span class="cs-job">Founder of Yokoloko</span>
                    </span>
                </div>
                <div class="wrapper">
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg" alt="stars" width="96" height="16">
                    <p class="cs-review">
                    Stitch Consulting transformed our business strategy Their expert consultants provided ingenious insights that propelled us towards success. Their dedication and innovative solutions are truly commendable.
                    </p>
                </div>
                <!--Quote Icon-->
                <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gray-quote.svg" decoding="async" alt="quote icon" width="120" height="99" loading="lazy">
            </li>
        </ul>
    </div>
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/homepage/reviews.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/homepage/reviews.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/homepage/reviews.jpg" alt="accountant" width="886" height="842" loading="lazy">
    </picture>
</section>
                                
                                
                                
                                
                                

    {% include 'sections/cta.html' %}
{% endblock %}